.DS_Store
__pycache__
*.pyc

# personnal credentials generated via script
cluster-mgmt/users/*.config
cluster-mgmt/users/*.crt
cluster-mgmt/users/*.csr
cluster-mgmt/users/*.key
cluster-mgmt/k8s-overview

# any kubconfig
*.config
kubeconfig-*.yaml

# any secret
*.secret.yaml
*.secrets.yaml

# editor config not maintained
.vscode

junk/
